[Unit]
Description=Save kitty session every 30 seconds

[Timer]
OnStartupSec=30s
OnUnitActiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
