<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>kitty-session-autosave</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>for socket in /tmp/kitty-[0-9]*; do [ -S "$socket" ] &amp;&amp; [ -O "$socket" ] || continue; "$0" @ --to "unix:$socket" action save_as_session '--save-only --base-dir "~/Library/Application Support/kitty" session.kitty-session' &amp;&amp; exit 0; done; exit 0</string>
    <string>__KITTY_PATH__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>30</integer>
</dict>
</plist>
